name: Release

on:
  push:
    paths:
      - 'VERSION'

jobs:
  release:
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Get nFPM
        run: wget https://github.com/goreleaser/nfpm/releases/download/v2.41.3/nfpm_2.41.3_amd64.deb
      - name: Install nFPM
        run: apt install ./nfpm_2.41.3_amd64.deb
      - name: Get Version
        id: get_version
        run: echo "::set-output name=version::$(cat VERSION)"
      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.get_version.outputs.version }}
          tag_name: ${{ steps.get_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Create RPM
        run: make rpm
      - name: Get Path
        id: get_path
        run: echo "::set-output name=path::$(ls ./rpm/out/*.rpm)"
      - name: Get Filename
        id: get_filename
        run: echo "::set-output name=filename::$(basename ./rpm/out/*.rpm)"
      - name: Upload
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.get_path.outputs.path }}
          asset_name: ${{ steps.get_filename.outputs.filename }}
          asset_content_type: application/octet-stream
        env:
          GITHUB_TOKEN: ${{ github.token }}
